:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
}

body {
  background-image: url('/images/bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
.card {
  width: 90%;
  background-color: var(--dark-blue);
  height: 180px;
  border-radius: 10px;
  color: white;
  &__logo {
    border-top-right-radius: 100px;
  }
  &-body {
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    &__logo {
      width: 150px;
    }
    &__icons-container {
      background-color: var(--very-dark-blue);
      min-width: 45px;
      min-height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      margin-right: 20px;
    }
    &__icons {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
  }
  &__storage {
    margin-top: 20px;
    justify-content: flex-start;
    &-text--black {
      font-size: 1.4em;
    }
    &-text--gray {
      font-size: 0.8em;
    }
  }
  &__storage-space {
    width: 40%;
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    bottom: 35px;
  }
}

.storage-level {
  width: 90%;
  height: 20px;
  background-color: var(--very-dark-blue);
  border-radius: 20px;
  padding: 5px 5px;
  margin: 25px 0 10px 0;
  &__status {
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__dot {
    height: 80%;
    border-radius: 50%;
    width: 15px;
    background-color: white;
    margin-right: 2px;
  }
  &__space {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin-bottom: auto;
  }
}

@media screen and (min-width: 726px) {
  body {
    background-image: url('/images/bg-desktop.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-color: var(--very-dark-blue);
    flex-direction: row;
  }

  .storage-level {
    margin: 10px 0 5px 0;
  }
  .card {
    width: 90%;
    &__logo {
      width: 40%;
    }
    &__storage {
      margin-left: 20px;
      margin-top: 40px;
      width: 40%;
      height: 140px;
      &-space {
        width: 10%;        
        right: 15%;
        border-bottom-right-radius: 0px;
      }
      &-space::after {
        content: '';
        position: absolute;
        top:50px;
        right: 0px;
        border-top: 10px solid white;        
        border-left:10px solid transparent ;        
      }
    }
  }
}
